<% if current_user.like?(post) %>
  <%= form_with(model: current_user.favorites.find_by(post_id: post.id), local: true, method: :delete) do |f| %>
    <%= hidden_field_tag :post_id, post.id %>
    <%= f.submit 'いいね解除', class: 'btn-stitch2' %>
  <% end %>
  <% else %>
    <%= form_with(model: current_user.favorites.build, local: true) do |f| %>
      <%= hidden_field_tag :post_id, post.id %>
      <%= f.submit 'いいね', class: 'btn-stitch' %>
  <% end %>
<% end %>
  <p class='ml-3 mt-2'><i class="fas fa-heart mr-1"></i><%= Favorite.where(post_id: post.id).count %></p>
